<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" width="100px" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu">Our Menu</a>
          </li>
          <% if (clientId === '2') { %>
            <li class="nav-item">
              <a class="nav-link" href="/orders">Manage Orders</a>
            </li>
          <% } %>
        </ul>
      </div>
      <% if (!clientId) { %>
        <form action="/login" method="POST" id="form-style">
          <div class="input-group">
            <input class="form-control" type="email" id="email" name="email" placeholder="Enter email" aria-label="Enter email">
            <button id="login-button" type="submit" class="btn btn-primary">Log in</button>
          </div>
        </form>
      <% } else { %>
        <form action="/logout" method="POST">
          <button id="login-button" type="submit" class="btn btn-primary-outline">Log out</button>
        </form>
      <% } %>
    </div>
  </nav>
</header>
