<header>
  <div class="left-header">
    <span class="logo-img">
      <img src="/images/logo.png" width="150px" height="86px"
    /></span>
    <div class="nav-bar">
      <h3><a href="#nav-1">About</a></h3>
      <h3><a href="#nav-2">Contact us</a></h3>
      <h3>Menu</h3>
    </div>
  </div>
  <div class="right-header">
    <button class="rounded-button">Login</button>
  </div>
</header>
