<header>
  <div class="left-header">
    <span class="logo-img">
      <img src="/images/logo.png" width="150px" height="86px" /></span>
    <div class="nav-bar">
      <h3><a href="#nav-1">About</a></h3>
      <h3><a href="#nav-2">Contact us</a></h3>
      <h3><a href="/menu">Menu</a></h3>

    </div>
  </div>
  <div class="right-header">
    <% if (!clientId) {%>
    <form action="/login" method="post" id="form-style">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter Email"
      />

      <button id="login-button" type="submit" class="rounded-button">
        Log in
      </button>
    </form>
  <%} else {%>
    <form method="POST" action="/logout">
      <button id="login-button" type="submit" class="rounded-button">
      Logout
    </button>
    </form>
<% } %>
    <!-- <form id="login-form">
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <button type="submit" id="login-button">Log in</button>
    </form> -->
  </div>
</header>
