<header>
    <div class="left-header">
      <span class="logo-img">
      <img src="/images/logo.png" width="150px" height="86px"></span>
      <div class="nav-bar">
      <h3>About</h3>
      <h3>Contact us</h3>
      <h3>Menu</h3></div></div>

    <div class="right-header">
      <button class="rounded-button">Login</button>

    </div>
</header>
