<!DOCTYPE html>
<html lang="en">

<head>
  <title>Maestro Pizza · Home</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS and icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/homepage.css" />
  <link rel="stylesheet" href="/styles/nav.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <div class="pizzavideo">
    <video controls autoplay muted loop>
      <source src="/images/Pizza-video.mp4"  type="video/mp4" />
      <source src="/images/Pizza-video.WebM"  type="video/mp4" />
    </video>
    <div class="overlay">
      <h1>Explore our great range of<br/> pizza and starters today!</h1>
      <a href="/menu" class="btn btn-primary">View Menu</a>
    </div>
  </div>

  <main class="container">

    <section class="row about-section" id="about">
      <div class="col-md-6">
        <img src="/images/Aboutus-img.jpg">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <h2>About Us</h2>
        <p><strong>We are dedicated to bringing you an unparalleled culinary experience with our artisanal pizza creations.</strong></p>
        <p>Our pizzas are crafted with the highest quality ingredients, including locally sourced produce, authentic Italian cheeses, and premium meats.</p>
        <p>Each pizza is carefully handcrafted and cooked to perfection in our state-of-the-art wood-fired oven, ensuring a crispy crust and delicious toppings in every bite.</p>
      </div>
    </section>

    <section class="row reviews-section" id="reviews">
      <div class="col-md-5">
        <h2>Reviews from the Experts</h2>
        <p>"I love pizza! It's definitely my guilty pleasure. It's just so satisfying and delicious!" <span class="chef"><strong>&#8212; Chef Linguini</strong></span></p>
        <p>"My favorite type of pizza is a classic Margherita with fresh basil and mozzarella." <span class="chef"><strong>&#8212; Chef Gordon Ramsay</strong></span></p>
        <p>"I'm a big fan of thin crust pizza with lots of veggies and maybe some chicken or shrimp." <span class="chef"><strong>&#8212; Chef Linguini</strong></span></p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <img src="/images/Feedback-img.jpg">
      </div>
    </section>

  </main>

  <%- include('partials/_footer') %>
</body>
</html>
