<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/menu.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="/scripts/login_event.js"></script>
</head>

<body>
  <header></header>

  <main>

    <section id="menu" style="width: 60%;">

      <div class="restaurant-info">
        <h2>Maestro Pizza</h2>
        <span>Fast food</span>
      </div>

      <section class="menu-category">
        <h3 class="category">Pizzas</h3>

        <div class="dishes">
          <div class="card">
            <img class="card-img-top" src="images/Grilled_Chicken_Arabiatta.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Grilled Chicken Arabiata</h5>
              <p class="card-text">Seasoned grilled chicken breast, green pepper, roasted red pepper, red onion, pesto marinated tomato, chili flakes and pizza mozzarella</p>
            </div>
            <div class="card-footer">
              <div class="dish-price-qty">
                <div class="price">
                  <span><strong>$35.00</strong></span>
                </div>
                <div class="quantity">
                  <div class="input-group">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">-</button>
                    <input type="text" class="form-control" value="1">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">+</button>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary add-order-btn">Add to order</button>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="images/Chicken_Caeser.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Chicken Caesar</h5>
              <p class="card-text">Alfredo sauce, seasoned grilled chicken breast, bacon crumble, roasted garlic, parmesan and pizza mozzarella</p>
            </div>
            <div class="card-footer">
              <div class="dish-price-qty">
                <div class="price">
                  <span><strong>$35.00</strong></span>
                </div>
                <div class="quantity">
                  <div class="input-group">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">-</button>
                    <input type="text" class="form-control" value="1">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">+</button>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary add-order-btn">Add to order</button>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="images/Chicken_Fajita.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Chicken Fajita</h5>
              <p class="card-text">Tomato Sauce, Spiced Chicken, Premium Cheese Mix, Green Pepper, Red Pepper, Onion, Jalapeno, Fajita Sauce</p>
            </div>
            <div class="card-footer">
              <div class="dish-price-qty">
                <div class="price">
                  <span><strong>$35.00</strong></span>
                </div>
                <div class="quantity">
                  <div class="input-group">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">-</button>
                    <input type="text" class="form-control" value="1">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">+</button>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary add-order-btn">Add to order</button>
            </div>
          </div>

        </div>
      </section>

      <section class="menu-category">
        <h3 class="category">Sides</h3>

        <div class="dishes">
          <div class="card">
            <img class="card-img-top" src="images/French_Fries.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">French Fries</h5>
              <p class="card-text">Crispy fried potato chips with dip</p>
            </div>
            <div class="card-footer">
              <div class="dish-price-qty">
                <div class="price">
                  <span><strong>$10.00</strong></span>
                </div>
                <div class="quantity">
                  <div class="input-group">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">-</button>
                    <input type="text" class="form-control" value="1">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">+</button>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary add-order-btn">Add to order</button>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="images/Onion_Rings.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Onion Rings</h5>
              <p class="card-text">Crispy fried freshly cut onion rings with dip</p>
            </div>
            <div class="card-footer">
              <div class="dish-price-qty">
                <div class="price">
                  <span><strong>$10.00</strong></span>
                </div>
                <div class="quantity">
                  <div class="input-group">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">-</button>
                    <input type="text" class="form-control" value="1">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">+</button>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary add-order-btn">Add to order</button>
            </div>
          </div>

        </div>
      </section>
    </section>

    <section id="order" style="width: 30%;">
      <div class="order-content position-fixed">
        <div class="order-header">
          <h2>Your Pickup Order</h2>
          <span><i class="bi bi-geo-alt"></i> Pickup at 123 Main St</span>
        </div>
        <div class="order-body">
          <div class="order-list-item">
            <div class="order-item">
              <i class="bi bi-1-circle-fill item-count"></i> Grilled Chicken Arabiata
            </div>
            <div class="order-price">
              <strong>$35.00</strong> <button type="button" class="btn btn-link delete-item-btn"><i class="bi bi-trash3"></i></button>
            </div>
          </div>
          <div class="order-list-item">
            <div class="order-item">
              <i class="bi bi-3-circle-fill item-count"></i> Onion Rings
            </div>
            <div class="order-price">
              <strong>$30.00</strong> <button type="button" class="btn btn-link delete-item-btn"><i class="bi bi-trash3"></i></button>
            </div>
          </div>
          <button type="button" class="btn btn-primary order-now-btn">Order now • $65.00</button>
        </div>
      </div>
    </section>
  </main>

</body>
</html>
