<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/restaurant.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>

  </header>

  <main>

    <!-- //////INCOMING////// -->
    <div class="incoming">
      <h1> Incoming Orders (2)</h1>
      <div class="incoming_orders">

        <div class="order_box">
          <h2>Tony S</h2>
          <div>
            <div class="single_item_order">
              <div class="quantity">1</div>
              <div> Cheese Lovers $14.99</div>
            </div>
            <div class="single_item_order">
              <div class="quantity">3</div>
              <div>Mozzarella Sticks $18.99</div>
            </div>
          </div>
          <label class ="etc" for="time">Enter estimated completion time:<label>
          <select class="time" name="time" form="timeform">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
          </select>
          <br>
          <button class="accept">ACCEPT ORDER</button>
          <br>
          <button class="reject">REJECT ORDER</button>
        </div>

        <div class="order_box">
          <h2>Tony S</h2>
          <div>
            <div class="single_item_order">
              <div class="quantity">1</div>
              <div> Cheese Lovers $14.99</div>
            </div>
            <div class="single_item_order">
              <div class="quantity">3</div>
              <div>Mozzarella Sticks $18.99</div>
            </div>
          </div>
          <label class ="etc" for="time">Enter estimated completion time:<label>
          <select class="time" name="time" form="timeform">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
          </select>
          <br>
          <button class="accept">ACCEPT ORDER</button>
          <br>
          <button class="reject">REJECT ORDER</button>
        </div>

      </div>
    </div>


    <!-- //////IN PROGRESS////// -->
    <div class="incoming">
      <h1>Orders in Progress(2)</h1>
      <div class="incoming_orders">

        <div class="order_box">
          <h2>Tony S</h2>
          <div>
            <div class="single_item_order">
              <div class="quantity">1</div>
              <div> Cheese Lovers $14.99</div>
            </div>
            <div class="single_item_order">
              <div class="quantity">3</div>
              <div>Mozzarella Sticks $18.99</div>
            </div>
          </div>
          <label class ="etc" for="time">Enter estimated completion time:<label>
          <select class="time" name="time" form="timeform">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
          </select>
          <button class="accept">MARK AS COMPLETE</button>
        </div>

        <div class="order_box">
          <h2>Bob S</h2>
          <div>
            <div class="single_item_order">
              <div class="quantity">1</div>
              <div> Cheese Lovers $14.99</div>
            </div>
            <div class="single_item_order">
              <div class="quantity">3</div>
              <div>Mozzarella Sticks $18.99</div>
            </div>
          </div>
          <label class ="etc" for="time">Enter estimated completion time:<label>
          <select class="time" name="time" form="timeform">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
          </select>
          <button class="accept">MARK AS COMPLETE</button>
        </div>
      </div>
    </div>

    <!-- //////COMPLETE////// -->
    <div class="incoming">
      <h1>Completed Orders (2)</h1>
      <div class="incoming_orders">

        <div class="order_box">
          <h2>Tony S</h2>
          <div>
            <div class="single_item_order">
              <div class="quantity">1</div>
              <div> Cheese Lovers $14.99</div>
            </div>
            <div class="single_item_order">
              <div class="quantity">3</div>
              <div>Mozzarella Sticks $18.99</div>
            </div>
          </div>
          <div class ="etc">Estimated completion time</div>
          <div class ="atc">Actual completion time</div>
        </div>

        <div class="order_box">
          <h2>Tony S</h2>
          <div>
            <div class="single_item_order">
              <div class="quantity">1</div>
              <div> Cheese Lovers $14.99</div>
            </div>
            <div class="single_item_order">
              <div class="quantity">3</div>
              <div>Mozzarella Sticks $18.99</div>
            </div>
          </div>
          <div class ="etc">Estimated completion time</div>
          <div class ="atc">Actual completion time</div>
        </div>

      </div>
    </div>
  </main>

</body>

</html>
