.pizzavideo {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.pizzavideo video {
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 96px;
  left: 72px;
  z-index: 1;
}

.overlay h1 {
  color: #fff;
  line-height: 1.5;
}

.overlay .btn {
  padding: 11px 32px;
  background: #f95738;
  border-color: #f95738;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.overlay .btn:hover {
  background: #D42907;
  border-color: #D42907;
}

.about-section, .reviews-section {
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
}

.about-section .col-md-5, .reviews-section .col-md-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section h2, .reviews-section h2 {
  margin-bottom: 1em;
}

.about-section img {
  border-radius: 30% 70% 24% 76% / 71% 22% 78% 29%;
}

.reviews-section img {
  border-radius: 72% 28% 64% 36% / 30% 66% 34% 70%;
}
