// See: https://sass-lang.com/

body,
html {
  margin: 0px;
  font-family: 'DM Sans', sans-serif;
  background-color: #fffceb;
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: #f95738;
}

img {
  max-width: 100%;
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
}

footer {
  background: #333;
  color: #fff;
  padding-top: 3em;
  padding-bottom: 3em;
}

footer .row {
  padding-top: 2em;
  padding-bottom: 1.5em;
}
