/* Bootstrap CSS overrides */

.card, .btn {
  border-radius: 12px;
}

.card-img-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 12vw;
  object-fit: cover;
}

.card-body, .card-footer {
  padding: 1.5em;
}

.card-text {
  font-size: 0.875rem;
}

.btn-primary, .btn-primary-outline {
  width: 100%;
  margin-top: 1.5em;
  padding-top: 11px;
  padding-bottom: 11px;
  background: #333;
  border-color: #333;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-primary-outline {
  background: #fff;
}

/* Common CSS */

main {
  position: relative;
  top: -100px;
}

.order-body {
  padding-top: 1em;
  padding-bottom: 1em;
}

.order-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.item-count {
  padding-right: 0.25em;
}

