/* Bootstrap CSS overrides */

.card, .btn {
  border-radius: 12px;
}

.card-img-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 12vw;
  object-fit: cover;
}

.card-body, .card-footer {
  padding: 1.5em;
}

.card .btn-primary, .card .btn-primary-outline, .order-now-btn {
  width: 100%;
  margin-top: 1.5em;
  padding-top: 11px;
  padding-bottom: 11px;
  background: #f95738;
  border-color: #f95738;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .btn-outline-secondary {
  border-color: #DEE2E6;
}

.card .btn-primary:hover, .order-now-btn:hover {
  background: #D42907;
  border-color: #D42907;
}

.card .btn-outline-secondary:hover {
  background: #D42907;
  border-color: #D42907;
}

/* Common CSS */

.order-body {
  padding-top: 1em;
  padding-bottom: 1em;
}

.order-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.item-count {
  padding-right: 0.25em;
  color: #f95738;
}
