/* Menu */

.menu-content {
  background-color: #fff;
  padding: 3.5em;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.restaurant-info {
  text-align: center;
}

.restaurant-info h1 {
  margin: 0 0 0.5rem 0;
}

.menu-category {
  margin-top: 4em;
}

.menu-category h2 {
  margin-bottom: 1.25em;
  text-align: center;
  padding: 0.5em;
  background: #F95738;
  color: #fff;
}

.card-title {
  margin-bottom: 1em;
}

.card-text {
  color: #666;
  font-size: 0.875rem;
}

.price-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  width: 140px;
}

.quantity input {
  text-align: center;
}

/* Order */

.order-content {
  width: 416px;
  background-color: #fff;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.order-header h2 {
  font-size: 1.5rem;
}

.delete-item-btn {
  padding: 0;
  padding-left: 0.75em;
  color: #F95738;
}

.delete-item-btn:hover {
  color: #D42907;
}

.order-now-btn {
  margin: 0;
}

.alert {
  margin-top: 1rem;
}

#login-err, #order-err {
  display: none;
}
