header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: rgba(229, 207, 202, 0.854);
  font-size: large;
  position: fixed;
  z-index: 1;
}
.left-header {
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 width: 80%;
 display: flex;
//  padding-top: 10px;
}
.logo-img {
  width: 10%;
  justify-content: flex-start;
}
.nav-bar{
  padding-top: 10px;
  // padding-left: 30px;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.nav-bar h3 {
  cursor: pointer;

}

.right-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em;
}

.form-control{
width: 200px;
margin: 3px;
}

.email{
  margin: 4px;
  display: none;
}

.rounded-button {
  width: 100px;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.654);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rounded-button:hover {
  background-color: black;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
