a.nav-link {
  color: #fff;
}

a.nav-link:hover {
  color: #F95738;
}

.input-group #email {
  margin-right: 1em;
  border-radius: 12px;
}

.input-group .btn-primary {
  border-radius: 12px !important;
  background: #F95738;
  border-color: #F95738;
  font-weight: bold;
  text-transform: uppercase;
}

.input-group  .btn-primary:hover {
  background: #D42907;
  border-color: #D42907;
}

nav .btn-primary-outline {
  background: #fff;
  color: #f95738;
  border-color: #f95738;
  font-weight: bold;
  text-transform: uppercase;
}

nav .btn-primary-outline:hover {
  background: #D42907;
  border-color: #D42907;
  color: #fff;
}
