.orders-section {
  background-color: #fff;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 1.5em;
}

.orders-section .col {
  margin-top: 0;
}

.card-body {
  padding-bottom: 0;
}

.card .reject-btn {
  background: #fff;
  color: #f95738;
}

.card .reject-btn, .card .complete-btn {
  margin-top: 1em;
}

.card .reject-btn:hover {
  background: #D42907;
  border-color: #D42907;
  color: #fff;
}

.est-time {
  margin-bottom: 0.5rem;
}

.act-time {
  margin-bottom: 0rem;
}
