.orders-section {
  background-color: #fff;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 1.5em;
}

.orders-section .col {
  margin-top: 0;
}

.card-body {
  padding-bottom: 0;
}

.card-footer p {
  font-size: 0.875rem;
}

.reject-btn, .complete-btn {
  margin-top: 1em;
}

.est-time {
  margin-bottom: 0.5rem;
}

.act-time {
  margin-bottom: 0rem;
}
